body {
  &.dark-mode {
    background-color: #545454;
    color: #ffffff;

    .MuiAppBar-root {
      background-color: #4c4c4c !important;
    }

    .MuiTab-root {
      color: #ccc;
    }


  }
}
